#necklace {
    text-shadow: 280px -210px 0px gold;
    color: white;
}

.lagrimaIzq {
    text-shadow: 278px -290px 0px rgb(0, 225, 255);
    color: white;
}

.lagrimaDer {
    text-shadow: 305px -330px 0px rgb(0, 225, 255);
    color: white;
}