body {
    margin: 0;
    font-family: JetBrains Mono;
    background-color: #F5F5EF;
    color: #2E2E2E;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
  }
  
  header {
    background-color: #2F4F4F;
    color: white;
    text-align: center;
  }

  .navBar {
    background-color: #4e7a73;
  }
  
  .navBar ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .navBar a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .navBar a:hover {
    color: #89e687;
    font-size: larger;
    transition: 0.5s;
  }

  p {
    padding: 2%;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    gap: 15px;
  }

  .contentLeft {
    width: 30%;
    background-color: #A3B18A;
    padding: 15px;
    border-radius: 15px;
  }

  .contentRight {
    width: 70%;
    background-color: #DAD7CD;
    padding: 15px;
    border-radius: 15px;
  }

  footer {
    background-color: #2F4F4F;
    color: white;
    text-align: center;
    padding: 10px;
  }