ul {
    color: darkblue;
}

li {
    margin: 15px;
    padding: 10px;
    border: 2px solid #54c145;
    background-color: #c0f7c8;
}

.contactLi {
    margin: 15px;
    padding: 10px;
    border: 2px solid #45bbc1;
    background-color: #c0f7f5;
}

a:hover {
    color: teal;
    font-size: larger;
}

.volverBtn {
    transition: all 0.3s ease;
    padding: 5px;
    border: 2px solid #243b75;
    background-color: #bfcbf0;
}

.volverBtn:hover {
    box-shadow: 0 8px 16px rgba(36, 91, 255, 0.3);
    text-transform: uppercase;
    border-radius: 50%;
    
}

header {
    text-align: center;
    border: 5px;
    color: darkgreen;

}

img {
    width: 500px;
}

#contactInfo {
    color: tomato;
}

.tableImg {
    width: 150px;
    height: 150px;
}

.bigWord {
    font-weight: bold;
    font-size: larger;
}

.txtShadow {
    text-shadow: 10px -5px 5px #4a75e2;
}

.justified {
    text-align: justify;
}
